:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #white
    --text-secondary: #ececec;
    --bg-title: #14141b;
    --bg-title-secondary:#00b7ff;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

body {
    color: #f8f8f23a;
    background-color: #23232e;
    margin:0;
    padding:0;
}

.navbar {
    position: fixed;
    top:0;
    background-color: var(--bg-title);
    color:white;
    height: 6vh;
    width: 100%;
    overflow: auto;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.nav-item {
    width: 10vw;
}
.nav-link {
    display: flex;
    align-items: center;
    width: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
}
.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    color: var(--bg-title-secondary);
}
.link-text {
    font-size: 3vh;
}
.logo {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background: var(--bg-secondary);
    font-size: 1.5vw;
    letter-spacing: 0.7ch;
    width: 12vw;
}
logo-text{
    display: inline;
    position: absolute;
    left: -999px;
}

.tabbar {
    position: fixed;
    top:6vh;
    background-color: var(--bg-primary);
    color:white;
    height: 6vh;
    width: 98%;
    overflow-y: hidden;
    overflow-x:auto;
}
.tabbar::-webkit-scrollbar{
    height: 10%;
}
.tabbar::-webkit-scrollbar-track{
    background:var(--bg-primary);
}
.tabbar::-webkit-scrollbar-thumb{
    background: var(--bg-title-secondary);
}
.tabbar-tab {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90%;
}
.tab-item {
    width: 125px;
    min-width: 125px;
    border-bottom: solid;
    margin: 2px;
}
.tab-link {
    display: flex;
    align-items: center;
    width: 90%;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
}
.tab-link:hover {
    filter: grayscale(0%) opacity(1);
    color: var(--bg-title-secondary);
}
.tab-text {
    font-size: 2vh;
}
.tab-close {
    position: absolute;
    right: 0%;
    width: 5%;
}
.tab-close:hover {
    color: red;
}

.tabadd {
    position: fixed;
    top:6vh;
    right: 0;
    background-color: var(--bg-primary);
    color:white;
    height: 6vh;
    width: 2%;
}
.tabadd-tab {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.tabadd-item {
    margin: 1px;
}

.editor {
    position: fixed;
    width: 95vw;
    left: 5%;
    top: 12vh;
    height: 85vh;
}
.CodeMirror {
    border: 1px solid #eee;
    height: 85vh;
}



.stats{
    position:fixed;
    height: 3vh;
    right: 0%;
    bottom:0;
    font-size: 2vh;
}